workDir = 's3://nextflow-workflow-storage-dev/_nextflow/runs'
docker.enabled = true
process.queue = 'arn:aws:batch:us-east-2:253241135520:job-queue/low-priority-ec2'
process.container = '253241135520.dkr.ecr.us-east-2.amazonaws.com/nextflow-dev:cc0fea88746662db3ec69786ac9f9e87edfbaa90f330f90ac84cafadb70c7798'
aws.batch.cliPath = '/usr/bin/aws'
aws.batch.shareIdentifier = 'default'
